# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [4]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_froqu_pc207_linux

In [5]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [6]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
rs37,HOLLAND,1,0,USA,NaN,NaN,NaT,NaT,NaN
ft28,SHILLINGER,1,0,USA,NaN,NaN,NaT,NaT,NaN
ft27,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN
rs36,HOLLAND,1,0,USA,NaN,NaN,NaT,NaT,NaN
ct169,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN

In [7]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year period  continuous prefix
0           ct96-02-13    12554  2013  moult           0    NaN
1           ct96-03-13    12555  2013  moult           0    NaN
2           ct96-09-13    12564  2013  moult           0    NaN
3           ct96-10-13    12565  2013  moult           0    NaN
4           ct96-16-13    12569  2013  moult           0    NaN
..                 ...      ...   ...    ...         ...    ...
171       ct149-925-18    14925  2019  moult           0    NaN
172       ct148-940-18    14940  2019  moult           0    NaN
173       ct148-966-18    14966  2019  moult           0    NaN
174       ct148-969-18    14969  2019  moult           0    NaN
175       ct148-970-18    14970  2019  moult           0    NaN

[176 rows x 6 columns]

## Process one deployment

In [8]:
deployment='wd14'
meop_process.process_tags(deployment=deployment)

Process deployment :wd14

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);
Error using remove_deployment (line 19)
wd14: no raw file. not processed.

False

In [ ]:
meop_process.generate_calibration_plots(smru_name=smru_name)

## Process one tag

In [29]:
smru_name='ct107-933-13'
meop_process.process_tags(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ct107-933-13
	24 tags
	4902 profiles
  ct107-933-13: 0 profiles and 0 Sprofiles removed
SMRU ct107-933-13, PTT   133774: use crawl locations

create_fr0(conf,EXP,one_smru_name);
Process hr smru_name=ct107-933-13
  SMRU ct107-933-13, PTT   133774: use crawl locations for fr data
  Date issue in ct107-933-13 hr data, 12933 instr_id: 1 profiles removed
  ct107-933-13: hr tags with 475 profiles
  ct107-933-13: 0 profiles and 0 Sprofiles removed

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [30]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ct107-933-13

True

In [18]:
meop_process.stop_matlab()