# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copy
import zipfile
import meop_filenames
from importlib import reload
import os
os.umask(int('002', 8))

2

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_froqu_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [5]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,TASK_DONE,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...,...
tu114,BOUSQUET,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
sk3,BLOCK,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd2,UNKNOWN,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd21,PINONES,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd25,PINONES,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN

# wd3

In [6]:
deployment = 'wd3'
smru_name = ''
meop_process.load_info_deployment(deployment=deployment,smru_name=smru_name)
meop_process.print_matlab('info_deployment')

conf = init_mirounga;


info_deployment =

  struct with fields:

               EXP: 'wd3'
                PI: 'HINDELL'
            NATION: 'AUSTRALIA'
            nomfic: 'wd3_fcell.mat'
               dir: '/media/disk2/roquet/MEOP_process/final_dataset_prof/wd3/'
           process: 1
            public: 1
          list_tag: [3x1 struct]
      list_tag_lr0: [3x1 struct]
      list_tag_lr1: [0x1 struct]
      list_tag_hr0: [0x1 struct]
      list_tag_hr1: [0x1 struct]
      list_tag_hr2: [0x1 struct]
      list_tag_fr0: [0x1 struct]
      list_tag_fr1: [0x1 struct]
    list_smru_name: {'wd3-CTD1-07'  'wd3-CTD2-07'  'wd3-CTD3-07'}

In [8]:
meop_process.process_tags(deployment=deployment,smru_name=smru_name)

Process deployment :wd3

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=wd3
	3 tags
	1240 profiles
Tag wd3-CTD1-07 lr0 removed
  wd3-CTD1-07: 394 profiles and 15 Sprofiles removed
  wd3-CTD2-07: 0 profiles and 15 Sprofiles removed
  wd3-CTD3-07: 0 profiles and 5 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [9]:
meop_process.create_hr2(deployment=deployment,smru_name=smru_name)

Process deployment :wd3

conf = init_mirounga;

create_hr2(conf,EXP,one_smru_name);
Create hr2 version [by default, hr1 --> hr2]
  wd3-CTD1-07: hr1 --> hr2
  wd3-CTD2-07: hr1 --> hr2
  wd3-CTD3-07: hr1 --> hr2

True

In [10]:
meop_process.generate_doc_latex(deployment=deployment,smru_name=smru_name)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag wd3: lr0, raw
plot diag wd3: lr1, adj
plot diag wd3: hr1, adj
plot diag wd3: hr2, adj

True