# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
import meop_process_copy
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copy
import zipfile
import meop_filenames
from importlib import reload
import os
os.umask(int('002', 8))

2

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_vincent2_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [5]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
sk3,BLOCK,1,0,USA,NaN,NaN,NaT,NaT,NaN
wd2,HINDELL,1,0,UNKNOWN,NaN,NaN,NaT,NaT,NaN
ct171,XTOPHE,1,0,UNKNOWN,NaN,NaN,NaT,NaT,NaN
wd21,PINONES,1,0,UNKNOWN,NaN,NaN,NaT,NaT,NaN
wd25,PINONES,1,0,UNKNOWN,NaN,NaN,NaT,NaT,NaN

In [6]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year        period  continuous prefix
0           ct96-02-13    12554  2013         moult           0    NaN
1           ct96-03-13    12555  2013         moult           0    NaN
2           ct96-09-13    12564  2013         moult           0    NaN
3           ct96-10-13    12565  2013         moult           0    NaN
4           ct96-16-13    12569  2013         moult           0    NaN
..                 ...      ...   ...           ...         ...    ...
195   ct159-052-BAT-19    15052  2020  reproduction           1    NaN
196   ct158-309-BAT-15    13309  2020         moult           1    NaN
197   ct158-310-BAT-15    13310  2020         moult           1    NaN
198       ct158-198-19    15198  2020         moult           1    NaN
199       ct158-199-19    15199  2020         moult           1    NaN

[200 rows x 6 columns]

## Process one tag

In [11]:
smru_name = 'ct160-Oxy726-20'
meop_process.process_only_one_tag(deployment='',smru_name=smru_name,notlc=False)

Process tag :ct160-Oxy726-20

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

process_single_tag(one_smru_name);

True

In [23]:
smru_name = 'ft23-C900-18'
meop_process.process_tags(deployment='',smru_name=smru_name,notlc=False)

Process tag :ft23-C900-18

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ft23-C900-18
	8 tags
	1160 profiles
Tag ft23-C900-18 lr0 removed
  ft23-C900-18: 39 profiles and 0 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);
Process hr smru_name=ft23-C900-18
  SMRU ft23-C900-18, PTT    63893: use smru locations for fr data
  ft23-C900-18: hr tags with 6454 profiles
Tag ft23-C900-18 fr0 removed
  ft23-C900-18: 135 profiles and 2 Sprofiles removed

create_fr0_without_lr0(conf,EXP,one_smru_name);
Process hr smru_name=ft23-F676-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14676
Process hr smru_name=ft23-F781-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14781
Process hr smru_name=ft23-C899-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14899
Process hr smru_name=ft23-C900-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14900
Process hr smru_name=ft23-C901-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14901
Process hr smru_name=ft23-C902-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14902
Process hr smru_name=ft23-C903-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14903
Process hr smru_name=ft23-F904-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14904
Process hr smru_name=ft23-F905-18
Location file for HR data missing: /home/jupyter-froqu/MEOP_dropbox/RAW_MEOP_DATA/raw_smru_hr_data/Locations/2018/14905

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [26]:
meop_process.generate_doc_latex(smru_name=smru_name)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ft23: lr0, raw
plot diag ft23: lr1, adj
plot diag ft23: hr1, adj
plot diag ft23: fr1, adj

True

In [24]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ft23-C900-18

True

# ct160

In [17]:
deployment = 'ct168'
meop_process.load_info_deployment(deployment=deployment,smru_name='')
meop_process.print_matlab('info_deployment')

conf = init_mirounga;


info_deployment =

  struct with fields:

               EXP: 'ct168'
                PI: 'GUINET'
            NATION: 'FRANCE'
            nomfic: 'ct168_ODV.txt'
               dir: '/media/disk2/roquet/MEOP_process/final_dataset_prof/ct168/'
           process: 1
            public: 0
          list_tag: [15x1 struct]
      list_tag_lr0: [15x1 struct]
      list_tag_lr1: [0x1 struct]
      list_tag_hr0: [15x1 struct]
      list_tag_hr1: [0x1 struct]
      list_tag_hr2: [0x1 struct]
      list_tag_fr0: [0x1 struct]
      list_tag_fr1: [0x1 struct]
    list_smru_name: {1x15 cell}

In [18]:
meop_process.import_raw_data(deployment=deployment)

In [23]:
meop_process.process_tags(deployment=deployment)

Process deployment :ct168

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ct168
	15 tags
	1515 profiles
  ct168-051-BAT2-19: 0 profiles and 0 Sprofiles removed
  ct168-052-BAT2-19: 0 profiles and 44 Sprofiles removed
Tag ct168-054-BAT-19 lr0 removed
  ct168-054-BAT-19: 0 profiles and 16 Sprofiles removed
  ct168-060-BAT-19: 1 profiles and 0 Sprofiles removed
  ct168-061-BAT-19: 4 profiles and 0 Sprofiles removed
  ct168-873-BAT3-19: 1 profiles and 0 Sprofiles removed
  ct168-881-BAT3-19: 0 profiles and 0 Sprofiles removed
  ct168-942BAT-21: 0 profiles and 0 Sprofiles removed
  ct168-943-BAT2-19: 0 profiles and 0 Sprofiles removed
  ct168-C899-BAT3-19: 0 profiles and 0 Sprofiles removed
Tag ct168-F465-21 lr0 removed
  ct168-F465-21: 0 profiles and 0 Sprofiles removed
  ct168-F514-21: 2 profiles and 0 Sprofiles removed
  ct168-F515-21: 0 profiles and 0 Sprofiles removed
Tag ct168-F516-21 lr0 removed
  ct168-F516-21: 0 profiles and 0 Sprofiles removed
  ct168-F904-BAT2-19: 0 profiles and 0 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [24]:
meop_process.create_hr2(deployment=deployment)

Process deployment :ct168

conf = init_mirounga;

create_hr2(conf,EXP,one_smru_name);
Create hr2 version [by default, hr1 --> hr2]
  ct168-051-BAT2-19: hr1 --> hr2
  ct168-052-BAT2-19: hr1 --> hr2
  ct168-054-BAT-19: hr1 --> hr2
  ct168-060-BAT-19: hr1 --> hr2
  ct168-061-BAT-19: hr1 --> hr2
  ct168-873-BAT3-19: hr1 --> hr2
  ct168-881-BAT3-19: hr1 --> hr2
  ct168-942BAT-21: hr1 --> hr2
  ct168-943-BAT2-19: hr1 --> hr2
  ct168-C899-BAT3-19: hr1 --> hr2
  ct168-F465-21: hr1 --> hr2
  ct168-F514-21: hr1 --> hr2
  ct168-F515-21: hr1 --> hr2
  ct168-F516-21: hr1 --> hr2
  ct168-F904-BAT2-19: hr1 --> hr2

True

In [25]:
meop_process.generate_doc_latex(deployment=deployment)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct168: lr0, raw
plot diag ct168: lr1, adj
plot diag ct168: hr1, adj
plot diag ct168: hr2, adj

True

In [26]:
meop_process.generate_calibration_plots(deployment=deployment)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True