# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copy
import zipfile
import meop_filenames
from importlib import reload

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_froqu_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [5]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
ft28,SHILLINGER,1,0,USA,NaN,NaN,NaT,NaT,NaN
ft27,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN
rs36,HOLLAND,1,0,USA,NaN,NaN,NaT,NaT,NaN
ct169,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN
sk3,BLOCK,1,0,USA,NaN,NaN,NaT,NaT,NaN

In [6]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year period  continuous prefix
0           ct96-02-13    12554  2013  moult           0    NaN
1           ct96-03-13    12555  2013  moult           0    NaN
2           ct96-09-13    12564  2013  moult           0    NaN
3           ct96-10-13    12565  2013  moult           0    NaN
4           ct96-16-13    12569  2013  moult           0    NaN
..                 ...      ...   ...    ...         ...    ...
171       ct149-925-18    14925  2019  moult           0    NaN
172       ct148-940-18    14940  2019  moult           0    NaN
173       ct148-966-18    14966  2019  moult           0    NaN
174       ct148-969-18    14969  2019  moult           0    NaN
175       ct148-970-18    14970  2019  moult           0    NaN

[176 rows x 6 columns]

In [7]:
## Process one deployment

In [15]:
reload(meop_process)

## ct119

In [6]:
deployment_code = 'ct119'

In [7]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct119: lr0, raw
plot diag ct119: lr1, adj
plot diag ct119: hr1, adj
plot diag ct119: hr2, adj

True

## ct150

In [10]:
deployment_code = 'ct150'

In [17]:
meop_process.import_raw_data(deployment=deployment_code)

ct150_ODV.txt
ct150_FL_ODV.txt
deployment_code = 'ct150';

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [6]:
output = meop_process.run_command(f'deployment_code = \'{deployment_code}\';')

deployment_code = 'ct150';

In [56]:
zipfile_orig = meop_filenames.inputdir / deployment_code / (deployment_code+'_ODV.zip')
zipfile_copy = meop_filenames.datadir / 'raw_smru_data_odv' / (deployment_code+'_ODV.zip')
copy(zipfile_orig,zipfile_copy)
with zipfile.ZipFile(zipfile_copy) as z:
    for file in z.namelist():
        print(file)
    z.extractall(path = meop_filenames.datadir / 'raw_smru_data_odv')

ct150_ODV.txt
ct150_FL_ODV.txt

In [65]:
output = meop_process.run_command('fusion_profilTS_profilFL(deployment_code,conf.rawdir);')

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [7]:
meop_process.process_tags(deployment=deployment_code)

Process deployment :ct150

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ct150
	17 tags
	6681 profiles
  ct150-354BAT-16: 1 profiles and 13 Sprofiles removed
  ct150-360BAT-16: 1 profiles and 17 Sprofiles removed
  ct150-416BAT-16: 2 profiles and 6 Sprofiles removed
  ct150-422BAT-16: 0 profiles and 4 Sprofiles removed
  ct150-441BAT-16: 0 profiles and 29 Sprofiles removed
  ct150-971-BULL-18: 3 profiles and 28 Sprofiles removed
  ct150-972-BULL-18: 4 profiles and 11 Sprofiles removed
  ct150-973-BULL-18: 0 profiles and 2 Sprofiles removed
  ct150-974-VERT-18: 2 profiles and 4 Sprofiles removed
  ct150-975-VERT-18: 0 profiles and 4 Sprofiles removed
  ct150-976-VERT-18: 2 profiles and 12 Sprofiles removed
  ct150-977-VERT-18: 0 profiles and 9 Sprofiles removed
  ct150-978-VERT-18: 2 profiles and 11 Sprofiles removed
  ct150-979-VERT-18: 0 profiles and 3 Sprofiles removed
  ct150-980-BULL-18: 1 profiles and 5 Sprofiles removed
  ct150-981-BULL-18: 1 profiles and 2 Sprofiles removed
  ct150-982-BULL-18: 1 profiles and 10 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [10]:
meop_process.generate_calibration_plots(deployment=deployment_code)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True

In [11]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct150: lr0, raw
plot diag ct150: lr1, adj
plot diag ct150: hr1, adj

True

## ct156

In [16]:
deployment_code = 'ct156'

In [17]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct156: lr0, raw
plot diag ct156: lr1, adj
plot diag ct156: hr1, adj

True

## wd16

In [12]:
deployment_code = 'wd16'

In [13]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag wd16: lr0, raw
plot diag wd16: lr1, adj
plot diag wd16: hr1, adj

True

## wd17

In [14]:
deployment_code = 'wd17'

In [15]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag wd17: lr0, raw
plot diag wd17: lr1, adj
plot diag wd17: hr1, adj

True

## Process one tag

In [12]:
smru_name='ct160-264-20'
meop_process.process_tags(smru_name=smru_name)

Process tag :ct160-264-20

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ct160-264-20
	34 tags
	28172 profiles
  ct160-264-20: 0 profiles and 2 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [30]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ct107-933-13

True

In [3]:
meop_process.stop_matlab()