# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
import meop_metadata
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copy
import zipfile
import meop_filenames
from importlib import reload
import os
os.umask(int('002', 8))

Load config jupyter_vincent2_pc207_linux in configs.json

2

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /home/jupyter-vincent2/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);')

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_vincent2_pc207_linux

True

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [5]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year        period  continuous prefix
0           ct96-02-13    12554  2013         moult           0    NaN
1           ct96-03-13    12555  2013         moult           0    NaN
2           ct96-09-13    12564  2013         moult           0    NaN
3           ct96-10-13    12565  2013         moult           0    NaN
4           ct96-16-13    12569  2013         moult           0    NaN
..                 ...      ...   ...           ...         ...    ...
195   ct159-052-BAT-19    15052  2020  reproduction           1    NaN
196   ct158-309-BAT-15    13309  2020         moult           1    NaN
197   ct158-310-BAT-15    13310  2020         moult           1    NaN
198       ct158-198-19    15198  2020         moult           1    NaN
199       ct158-199-19    15199  2020         moult           1    NaN

[200 rows x 6 columns]

## Process one tag

In [6]:
# smru_name = 'ct160-Oxy726-20'
# meop_process.process_only_one_tag(deployment='',smru_name=smru_name,notlc=False)

In [7]:
import gsw
gsw.CT_freezing(34.05, 200, np.array([0,1]))

array([-2.00533719, -2.00725025])

In [22]:
smru_name = 'ct170-709-22'
meop_process.process_tags(smru_name=smru_name,notlc=False)
meop_process.generate_doc_latex(smru_name=smru_name)
# meop_process.generate_calibration_plots(smru_name=smru_name)

Process tag :ct170-709-22

conf = init_mirounga;
conf = init_mirounga;
conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);

# ct160

In [13]:
deployment = 'ct160'
meop_process.process_tags(deployment=deployment,smru_name='',notlc=False)
meop_process.generate_doc_latex(deployment=deployment)
meop_process.generate_calibration_plots(deployment=deployment)

Process deployment :ct163

conf = init_mirounga;
conf = init_mirounga;
conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
NaN values cannot be converted to logicals.

Error in sc_filtre_seals_qc (line 103)
        if filters{kk,'Sonly'},

Error in create_ncargo (line 75)
    sc_filtre_seals_qc;


conf = init_mirounga;
generate_plot2(conf,EXP,one_smru_name);
plot diag ct163: lr0, raw

conf = init_mirounga;
generate_plot1(conf,EXP,one_smru_name);
Index exceeds the number of array elements. Index must not exceed 7.

Error in generate_plot1 (line 63)
        strrep(info_deployment.list_tag(itag).name,'_lr0','_lr1'));

False

In [27]:
meop_process.import_raw_data(deployment=deployment)

In [61]:
meop_process.process_tags(deployment=deployment)

Process deployment :ct171

conf = init_mirounga;
conf = init_mirounga;
conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Index exceeds the number of array elements. Index must not exceed 1.

Error in remove_profiles (line 71)
            I=find(any(argo_qc.PRES>value(1) & argo_qc.TEMP>value(2)));

Error in sc_filtre_seals_qc (line 108)
            [Mqc,nn1]=remove_profiles(info_deployment,smru_name,...

Error in create_ncargo (line 75)
    sc_filtre_seals_qc;

False

In [24]:
meop_process.create_hr2(deployment=deployment)

Process deployment :ct168

conf = init_mirounga;

create_hr2(conf,EXP,one_smru_name);
Create hr2 version [by default, hr1 --> hr2]
  ct168-051-BAT2-19: hr1 --> hr2
  ct168-052-BAT2-19: hr1 --> hr2
  ct168-054-BAT-19: hr1 --> hr2
  ct168-060-BAT-19: hr1 --> hr2
  ct168-061-BAT-19: hr1 --> hr2
  ct168-873-BAT3-19: hr1 --> hr2
  ct168-881-BAT3-19: hr1 --> hr2
  ct168-942BAT-21: hr1 --> hr2
  ct168-943-BAT2-19: hr1 --> hr2
  ct168-C899-BAT3-19: hr1 --> hr2
  ct168-F465-21: hr1 --> hr2
  ct168-F514-21: hr1 --> hr2
  ct168-F515-21: hr1 --> hr2
  ct168-F516-21: hr1 --> hr2
  ct168-F904-BAT2-19: hr1 --> hr2

True

In [29]:
meop_process.generate_doc_latex(deployment=deployment)

conf = init_mirounga;
generate_plot2(conf,EXP,one_smru_name);
plot diag ct161: lr0, raw
plot diag ct161: lr1, adj
plot diag ct161: hr1, adj

True

In [26]:
meop_process.generate_calibration_plots(deployment=deployment)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True