# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [25]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [26]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_bpicard_pc207_linux

In [43]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [5]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
ft28,SHILLINGER,1,0,USA,NaN,NaN,NaT,NaT,NaN
ft27,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN
rs36,HOLLAND,1,0,USA,NaN,NaN,NaT,NaT,NaN
ct169,COSTA,1,0,USA,NaN,NaN,NaT,NaT,NaN
sk3,BLOCK,1,0,USA,NaN,NaN,NaT,NaT,NaN

In [5]:
meop_metadata.read_list_deployment_hr()

In [5]:
## Process one deployment

In [64]:
meop_process.run_command('deployment_code=\'wd17\'')
meop_process.run_command('unzip([conf.inputdir deployment_code \'/\' deployment_code \'_ODV.zip\'],[conf.inputdir deployment_code])')

deployment_code='wd17'

deployment_code =

    'wd17'


unzip([conf.inputdir deployment_code '/' deployment_code '_ODV.zip'],[conf.inputdir deployment_code])
Warning: Permission denied to create file "/home/jupyter-bpicard/smru/all/wd17/wd17_ODV.txt".
> In extractArchive>extractArchiveEntry (line 119)
In extractArchive (line 62)
In unzip (line 98)
Warning: Permission denied to create file "/home/jupyter-bpicard/smru/all/wd17/wd17_FL_ODV.txt".
> In extractArchive>extractArchiveEntry (line 119)
In extractArchive (line 62)
In unzip (line 98)

True

In [59]:
meop_process.run_command('import_ODV_data(conf,\'wd17\')');

import_ODV_data(conf,'wd17')
Error using rmdir
No directories were removed.

Error in import_ODV_data (line 18)
rmdir([conf.inputdir deployment_code],'s')

In [54]:
deployment='wd17'
meop_process.process_tags(deployment=deployment)

Process deployment :wd17

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);
wd17: no raw file. not processed.

create_ncargo(conf,EXP,one_smru_name);
Error using create_ncargo (line 18)
wd17: no raw file. not processed.

False

In [10]:
meop_process.generate_calibration_plots(deployment=deployment)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True

In [11]:
meop_process.generate_doc_latex(deployment=deployment)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct156: lr0, raw
plot diag ct156: lr1, adj
plot diag ct156: hr1, adj

True

## Process one tag

In [12]:
smru_name='ct160-264-20'
meop_process.process_tags(smru_name=smru_name)

Process tag :ct160-264-20

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ct160-264-20
	34 tags
	28172 profiles
  ct160-264-20: 0 profiles and 2 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [30]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ct107-933-13

True

In [23]:
meop_process.stop_matlab()