# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copy
import zipfile
import meop_filenames
from importlib import reload
import os
os.umask(int('002', 8))

2

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /media/disk2/roquet/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_froqu_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

## Import list of deployments

In [7]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,TASK_DONE,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,8,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...,...
tu114,BOUSQUET,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
sk3,BLOCK,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd2,UNKNOWN,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd21,PINONES,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN
wd25,PINONES,1,0,UNKNOWN,0,NaN,NaN,NaT,NaT,NaN

In [ ]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year        period  continuous prefix
0           ct96-02-13    12554  2013         moult           0    NaN
1           ct96-03-13    12555  2013         moult           0    NaN
2           ct96-09-13    12564  2013         moult           0    NaN
3           ct96-10-13    12565  2013         moult           0    NaN
4           ct96-16-13    12569  2013         moult           0    NaN
..                 ...      ...   ...           ...         ...    ...
195   ct159-052-BAT-19    15052  2020  reproduction           1    NaN
196   ct158-309-BAT-15    13309  2020         moult           1    NaN
197   ct158-310-BAT-15    13310  2020         moult           1    NaN
198       ct158-198-19    15198  2020         moult           1    NaN
199       ct158-199-19    15199  2020         moult           1    NaN

[200 rows x 6 columns]

# ct160

In [20]:
deployment = 'ct160'
smru_name = ''
meop_process.load_info_deployment(deployment=deployment,smru_name=smru_name)
meop_process.print_matlab('info_deployment')

conf = init_mirounga;


info_deployment =

  struct with fields:

               EXP: 'ct160'
                PI: 'IMOS'
            NATION: 'AUSTRALIA'
            nomfic: 'ct160_ODV.txt'
               dir: '/media/disk2/roquet/MEOP_process/final_dataset_prof/ct160/'
           process: 1
            public: 0
          list_tag: [1x1 struct]
      list_tag_lr0: [1x1 struct]
      list_tag_lr1: [1x1 struct]
      list_tag_hr0: [1x1 struct]
      list_tag_hr1: [1x1 struct]
      list_tag_hr2: [1x1 struct]
      list_tag_fr0: [0x1 struct]
      list_tag_fr1: [0x1 struct]
    list_smru_name: {'ct160-265-20'}

In [21]:
meop_process.process_tags(deployment=deployment,smru_name=smru_name)

Process deployment :ct160

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ct160
	34 tags
	28182 profiles
  ct160-264-20: 0 profiles and 2 Sprofiles removed
  ct160-265-20: 1 profiles and 1145 Sprofiles removed
  ct160-266-20: 0 profiles and 0 Sprofiles removed
  ct160-267-20: 0 profiles and 66 Sprofiles removed
  ct160-268-20: 0 profiles and 19 Sprofiles removed
  ct160-278BAT2-14: 0 profiles and 0 Sprofiles removed
  ct160-300-20: 0 profiles and 16 Sprofiles removed
  ct160-301-20: 0 profiles and 0 Sprofiles removed
  ct160-302-20: 0 profiles and 0 Sprofiles removed
  ct160-303-20: 0 profiles and 0 Sprofiles removed
  ct160-304-20: 15 profiles and 0 Sprofiles removed
  ct160-305-20: 0 profiles and 6 Sprofiles removed
  ct160-306-20: 0 profiles and 1 Sprofiles removed
  ct160-307-20: 0 profiles and 0 Sprofiles removed
  ct160-308-20: 1 profiles and 1 Sprofiles removed
  ct160-309-20: 0 profiles and 0 Sprofiles removed
  ct160-310-20: 0 profiles and 0 Sprofiles removed
Tag ct160-311-20 lr0 removed
  ct160-311-20: 0 profiles and 0 Sprofiles removed
  ct160-312-20: 0 profiles and 1 Sprofiles removed
  ct160-313-20: 0 profiles and 1 Sprofiles removed
  ct160-314-20: 0 profiles and 0 Sprofiles removed
  ct160-315-20: 0 profiles and 0 Sprofiles removed
  ct160-316-20: 0 profiles and 0 Sprofiles removed
  ct160-318-20: 1 profiles and 116 Sprofiles removed
  ct160-319-20: 0 profiles and 0 Sprofiles removed
  ct160-331-20: 0 profiles and 0 Sprofiles removed
  ct160-332-20: 0 profiles and 0 Sprofiles removed
  ct160-336-20: 0 profiles and 53 Sprofiles removed
  ct160-338-20: 0 profiles and 0 Sprofiles removed
  ct160-339-20: 0 profiles and 0 Sprofiles removed
  ct160-341-20: 0 profiles and 0 Sprofiles removed
  ct160-342-20: 0 profiles and 0 Sprofiles removed
  ct160-918BAT-18: 0 profiles and 1 Sprofiles removed
  ct160-Oxy726-20: 0 profiles and 4 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [22]:
meop_process.create_hr2(deployment=deployment,smru_name=smru_name)

Process deployment :ct160

conf = init_mirounga;

create_hr2(conf,EXP,one_smru_name);
Create hr2 version [by default, hr1 --> hr2]
  ct160-264-20: hr1 --> hr2
  ct160-265-20: hr1 --> hr2
  ct160-266-20: hr1 --> hr2
  ct160-267-20: hr1 --> hr2
  ct160-268-20: hr1 --> hr2
  ct160-278BAT2-14: hr1 --> hr2
  ct160-300-20: hr1 --> hr2
  ct160-301-20: hr1 --> hr2
  ct160-302-20: hr1 --> hr2
  ct160-303-20: hr1 --> hr2
  ct160-304-20: hr1 --> hr2
  ct160-305-20: hr1 --> hr2
  ct160-306-20: hr1 --> hr2
  ct160-307-20: hr1 --> hr2
  ct160-308-20: hr1 --> hr2
  ct160-309-20: hr1 --> hr2
  ct160-310-20: hr1 --> hr2
  ct160-311-20: hr1 --> hr2
  ct160-312-20: hr1 --> hr2
  ct160-313-20: hr1 --> hr2
  ct160-314-20: hr1 --> hr2
  ct160-315-20: hr1 --> hr2
  ct160-316-20: hr1 --> hr2
  ct160-318-20: hr1 --> hr2
  ct160-319-20: hr1 --> hr2
  ct160-331-20: hr1 --> hr2
  ct160-332-20: hr1 --> hr2
  ct160-336-20: hr1 --> hr2
  ct160-338-20: hr1 --> hr2
  ct160-339-20: hr1 --> hr2
  ct160-341-20: hr1 --> hr2
  ct160-342-20: hr1 --> hr2
  ct160-918BAT-18: hr1 --> hr2
  ct160-Oxy726-20: hr1 --> hr2

True

In [23]:
meop_process.generate_doc_latex(deployment=deployment,smru_name=smru_name)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct160: lr0, raw
plot diag ct160: lr1, adj
plot diag ct160: hr1, adj
plot diag ct160: hr2, adj

True

## ct119

In [6]:
deployment_code = 'ct119'

In [6]:
meop_process.load_info_deployment(deployment=deployment_code)

conf = init_mirounga;

In [11]:
meop_process.process_tags(deployment=deployment_code)

Process deployment :ct119

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ct119
	4 tags
	740 profiles
  ct119-275-14: 8 profiles and 29 Sprofiles removed
  ct119-279-14: 1 profiles and 2 Sprofiles removed
  ct119-294-14: 0 profiles and 1 Sprofiles removed
  ct119-300-14: 0 profiles and 0 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [7]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct119: lr0, raw
plot diag ct119: lr1, adj
plot diag ct119: hr1, adj

True

## ct150

In [10]:
deployment_code = 'ct150'

In [17]:
meop_process.import_raw_data(deployment=deployment_code)

ct150_ODV.txt
ct150_FL_ODV.txt
deployment_code = 'ct150';

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [6]:
output = meop_process.run_command(f'deployment_code = \'{deployment_code}\';')

deployment_code = 'ct150';

In [56]:
zipfile_orig = meop_filenames.inputdir / deployment_code / (deployment_code+'_ODV.zip')
zipfile_copy = meop_filenames.datadir / 'raw_smru_data_odv' / (deployment_code+'_ODV.zip')
copy(zipfile_orig,zipfile_copy)
with zipfile.ZipFile(zipfile_copy) as z:
    for file in z.namelist():
        print(file)
    z.extractall(path = meop_filenames.datadir / 'raw_smru_data_odv')

ct150_ODV.txt
ct150_FL_ODV.txt

In [65]:
output = meop_process.run_command('fusion_profilTS_profilFL(deployment_code,conf.rawdir);')

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [10]:
meop_process.generate_calibration_plots(deployment=deployment_code)

conf = init_mirounga;

generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True

In [11]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct150: lr0, raw
plot diag ct150: lr1, adj
plot diag ct150: hr1, adj

True

## ct156

In [16]:
deployment_code = 'ct156'

In [17]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag ct156: lr0, raw
plot diag ct156: lr1, adj
plot diag ct156: hr1, adj

True

## wd16

In [12]:
deployment_code = 'wd16'

In [13]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag wd16: lr0, raw
plot diag wd16: lr1, adj
plot diag wd16: hr1, adj

True

## wd17

In [ ]:
deployment_code = 'wd17'

In [15]:
meop_process.generate_doc_latex(deployment=deployment_code)

conf = init_mirounga;

generate_plot2(conf,EXP,one_smru_name);
plot diag wd17: lr0, raw
plot diag wd17: lr1, adj
plot diag wd17: hr1, adj

True

## ct164

In [11]:
deployment_code = 'ct164'

In [12]:
meop_process.process_tags(deployment=deployment_code)

Process deployment :ct164

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ct164
	45 tags
	25257 profiles
Tag ct164-172-BAT2-15 lr0 removed
  ct164-183-BAT-20: 0 profiles and 1 Sprofiles removed
  ct164-186-BAT-20: 0 profiles and 0 Sprofiles removed
  ct164-189-BAT-20: 0 profiles and 273 Sprofiles removed
  ct164-206-BAT-20: 0 profiles and 0 Sprofiles removed
Tag ct164-215-BAT-20 lr0 removed
  ct164-216-BAT-20: 0 profiles and 0 Sprofiles removed
  ct164-217-BAT-20: 0 profiles and 1 Sprofiles removed
Tag ct164-224-BAT-20 lr0 removed
  ct164-460-21: 0 profiles and 0 Sprofiles removed
  ct164-461-21: 0 profiles and 0 Sprofiles removed
  ct164-462-21: 0 profiles and 0 Sprofiles removed
  ct164-463-21: 0 profiles and 0 Sprofiles removed
  ct164-464-21: 0 profiles and 2 Sprofiles removed
  ct164-480-21: 0 profiles and 0 Sprofiles removed
  ct164-481-21: 0 profiles and 105 Sprofiles removed
  ct164-482-21: 0 profiles and 368 Sprofiles removed
  ct164-483-21: 0 profiles and 0 Sprofiles removed
  ct164-485-21: 0 profiles and 146 Sprofiles removed
  ct164-486-21: 0 profiles and 11 Sprofiles removed
  ct164-487-21: 0 profiles and 25 Sprofiles removed
  ct164-488-21: 17 profiles and 232 Sprofiles removed
  ct164-490-21: 0 profiles and 4 Sprofiles removed
  ct164-491-21: 0 profiles and 12 Sprofiles removed
  ct164-492-21: 0 profiles and 0 Sprofiles removed
  ct164-493-21: 0 profiles and 1 Sprofiles removed
  ct164-494-21: 0 profiles and 0 Sprofiles removed
  ct164-499-21: 0 profiles and 3 Sprofiles removed
  ct164-500-21: 0 profiles and 8 Sprofiles removed
  ct164-501-21: 0 profiles and 0 Sprofiles removed
  ct164-502-21: 0 profiles and 0 Sprofiles removed
  ct164-503-21: 0 profiles and 1 Sprofiles removed
  ct164-504-21: 0 profiles and 90 Sprofiles removed
  ct164-505-21: 0 profiles and 1 Sprofiles removed
  ct164-506-21: 0 profiles and 279 Sprofiles removed
  ct164-507-21: 0 profiles and 0 Sprofiles removed
  ct164-508-21: 0 profiles and 0 Sprofiles removed
  ct164-938-BAT-18: 0 profiles and 0 Sprofiles removed
  ct164-941-BAT-18: 0 profiles and 151 Sprofiles removed
  ct164-F468-21: 0 profiles and 106 Sprofiles removed
  ct164-F509-21: 0 profiles and 0 Sprofiles removed
  ct164-F510-21: 0 profiles and 0 Sprofiles removed
  ct164-F511-21: 0 profiles and 0 Sprofiles removed
  ct164-F512-21: 0 profiles and 0 Sprofiles removed
  ct164-F513-21: 0 profiles and 0 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [ ]:
meop_process.generate_calibration_plots(deployment=deployment_code)

## Process one tag

In [12]:
smru_name='ct160-264-20'
meop_process.process_tags(smru_name=smru_name)

Process tag :ct160-264-20

conf = init_mirounga;

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ct160-264-20
	34 tags
	28172 profiles
  ct160-264-20: 0 profiles and 2 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [30]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ct107-933-13

True

In [3]:
meop_process.stop_matlab()