# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copyfile
import zipfile
import meop_filenames
from importlib import reload
import os
_ = os.umask(int('002', 8))

Load config jupyter_ian_pc207_linux in configs.json

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /home/jupyter-ian/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_ian_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

In [27]:
#conf = meop_process.update_config_files(conf)

## Import list of deployments

In [5]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
wd27,IMOS,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
wd28,KOPRI,1,0,KOREA,NaN,NaN,NaT,NaT,NaN
ct175,XTOPHE,1,0,FRANCE,NaN,NaN,NaT,NaT,NaN
ct177,XTOPHE,1,0,FRANCE,NaN,NaN,NaT,NaT,NaN
ct176,IMOS,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN

In [6]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year        period  continuous prefix
0           ct96-02-13    12554  2013         moult           0    NaN
1           ct96-03-13    12555  2013         moult           0    NaN
2           ct96-09-13    12564  2013         moult           0    NaN
3           ct96-10-13    12565  2013         moult           0    NaN
4           ct96-16-13    12569  2013         moult           0    NaN
..                 ...      ...   ...           ...         ...    ...
195   ct159-052-BAT-19    15052  2020  reproduction           1    NaN
196   ct158-309-BAT-15    13309  2020         moult           1    NaN
197   ct158-310-BAT-15    13310  2020         moult           1    NaN
198       ct158-198-19    15198  2020         moult           1    NaN
199       ct158-199-19    15199  2020         moult           1    NaN

[200 rows x 6 columns]

## Process one tag

In [6]:
deployment = 'tu116'
meop_process.import_raw_data(deployment=deployment)

tu117_FL_ODV.txt
tu117_ODV.txt
deployment_code = 'tu117';

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [8]:
meop_process.process_tags(deployment=deployment)

Process deployment :tu117

conf = init_mirounga;
conf = init_mirounga;
deployment2.json has been updated
deployment3.json has been updated
platform2.json has been updated
platform3.json has been updated
conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=tu117
	24 tags
	4599 profiles
  tu117-611-22: 0 profiles and 17 Sprofiles removed
  tu117-612-22: 0 profiles and 385 Sprofiles removed
  tu117-614-22: 0 profiles and 165 Sprofiles removed
  tu117-616-22: 0 profiles and 8 Sprofiles removed
Tag tu117-617-22 lr0 removed
  tu117-617-22: 0 profiles and 0 Sprofiles removed
  tu117-664-22: 0 profiles and 77 Sprofiles removed
  tu117-670-22: 0 profiles and 491 Sprofiles removed
  tu117-671-22: 0 profiles and 125 Sprofiles removed
  tu117-672-22: 0 profiles and 245 Sprofiles removed
  tu117-673-22: 0 profiles and 182 Sprofiles removed
  tu117-674-22: 0 profiles and 69 Sprofiles removed
  tu117-675-22: 0 profiles and 0 Sprofiles removed
  tu117-676-22: 0 profiles and 292 Sprofiles removed
  tu117-677-22: 0 profiles and 93 Sprofiles removed
  tu117-678-22: 0 profiles and 155 Sprofiles removed
  tu117-679-22: 0 profiles and 118 Sprofiles removed
  tu117-681-22: 0 profiles and 64 Sprofiles removed
  tu117-684-22: 0 profiles and 645 Sprofiles removed
  tu117-685-22: 0 profiles and 644 Sprofiles removed
  tu117-686-22: 0 profiles and 176 Sprofiles removed
  tu117-687-22: 0 profiles and 220 Sprofiles removed
  tu117-688-22: 1 profiles and 244 Sprofiles removed
  tu117-689-22: 0 profiles and 3 Sprofiles removed
  tu117-751-22: 0 profiles and 128 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [9]:
meop_process.generate_doc_latex(deployment=deployment)

conf = init_mirounga;
generate_plot2(conf,EXP,one_smru_name);
plot diag tu117: lr0, raw
plot diag tu117: lr1, adj
plot diag tu117: hr1, adj

True

In [21]:
meop_process.generate_calibration_plots(deployment=deployment)

conf = init_mirounga;
generate_plot1(conf,EXP,one_smru_name);
calibration plots:

True

In [22]:
meop_process.create_hr2(deployment=deployment)

Process deployment :tu120

conf = init_mirounga;
create_hr2(conf,EXP,one_smru_name);
Create hr2 version [by default, hr1 --> hr2]
  tu120-610-22: hr1 --> hr2
  tu120-613-22: hr1 --> hr2
  tu120-615-22: hr1 --> hr2
  tu120-619-22: hr1 --> hr2
  tu120-658-22: hr1 --> hr2
  tu120-660-22: hr1 --> hr2
  tu120-661-22: hr1 --> hr2
  tu120-663-I2C-22: hr1 --> hr2
  tu120-665-I2C-22: hr1 --> hr2
  tu120-666-22: hr1 --> hr2
  tu120-667-22: hr1 --> hr2
  tu120-668-22: hr1 --> hr2
  tu120-669-22: hr1 --> hr2
  tu120-680-22: hr1 --> hr2
  tu120-683-22: hr1 --> hr2

True

## Tag tu117-612-22

In [38]:
smru_name = 'tu117-612-22'

In [39]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

In [40]:
meop_process.process_tags(smru_name=smru_name)

Process tag :tu117-612-22

conf = init_mirounga;
conf = init_mirounga;
conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=tu117-612-22
	24 tags
	4562 profiles
  tu117-612-22: 0 profiles and 385 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [41]:
meop_process.generate_doc_latex(smru_name=smru_name)

conf = init_mirounga;
generate_plot2(conf,EXP,one_smru_name);
plot diag tu117: lr0, raw
plot diag tu117: lr1, adj
plot diag tu117: hr1, adj

True