# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
PWD: /media/disk2/roquet/MEOP_process/python

In [19]:
meop_process.run_command('cd ..;pwd;')
meop_process.run_command('disp(config_id);');

cd ..;pwd;

disp(config_id);
jupyter-froqu_pc207_linux

In [28]:
conf = meop_process.init_mirounga()

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

## Import list of deployments

In [32]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/2011,10/08/2011,734588.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/2007,10/03/2007,733085.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/2018,NaT,737414.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/2004,08/01/2004,731966.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/2008,03/01/2009,733768.0
...,...,...,...,...,...,...,...,...,...
ct156,IMOS,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
ct154,GUINET,1,0,FRANCE,NaN,NaN,NaT,NaT,NaN
ct155,GUINET,1,0,FRANCE,NaN,NaN,NaT,NaT,NaN
ct157,IMOS,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
ct159,XTOPHE,1,0,UNKNOWN,NaN,NaN,NaT,NaT,NaN

In [34]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year period  continuous prefix
0           ct96-02-13    12554  2013  moult           0    NaN
1           ct96-03-13    12555  2013  moult           0    NaN
2           ct96-09-13    12564  2013  moult           0    NaN
3           ct96-10-13    12565  2013  moult           0    NaN
4           ct96-16-13    12569  2013  moult           0    NaN
..                 ...      ...   ...    ...         ...    ...
171       ct149-925-18    14925  2019  moult           0    NaN
172       ct148-940-18    14940  2019  moult           0    NaN
173       ct148-966-18    14966  2019  moult           0    NaN
174       ct148-969-18    14969  2019  moult           0    NaN
175       ct148-970-18    14970  2019  moult           0    NaN

[176 rows x 6 columns]

## Process one deployment

In [33]:
deployment='ft23'
meop_process.process_tags(deployment=deployment)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=ft23
	8 tags
	1160 profiles
  ft23-C899-18: 8 profiles and 0 Sprofiles removed
Tag ft23-C900-18 lr0 removed
  ft23-C900-18: 0 profiles and 0 Sprofiles removed
  ft23-C901-18: 0 profiles and 0 Sprofiles removed
  ft23-C902-18: 0 profiles and 0 Sprofiles removed
  ft23-C903-18: 0 profiles and 0 Sprofiles removed
  ft23-F676-18: 0 profiles and 0 Sprofiles removed
  ft23-F781-18: 0 profiles and 0 Sprofiles removed
Tag ft23-F905-18 lr0 removed
  ft23-F905-18: 0 profiles and 0 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);
Process hr smru_name=ft23-C899-18
  SMRU ft23-C899-18, PTT    63895: use smru locations for fr data
  ft23-C899-18: hr tags with 4705 profiles
  ft23-C899-18: 110 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-C900-18
  SMRU ft23-C900-18, PTT    63893: use smru locations for fr data
  ft23-C900-18: hr tags with 6454 profiles
Tag ft23-C900-18 fr0 removed
  ft23-C900-18: 0 profiles and 1 Sprofiles removed
Process hr smru_name=ft23-C901-18
  SMRU ft23-C901-18, PTT    65503: use smru locations for fr data
  ft23-C901-18: hr tags with 4373 profiles
  ft23-C901-18: 0 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-C902-18
  SMRU ft23-C902-18, PTT    63889: use smru locations for fr data
  ft23-C902-18: hr tags with 4759 profiles
  ft23-C902-18: 0 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-C903-18
  SMRU ft23-C903-18, PTT    63892: use smru locations for fr data
  ft23-C903-18: hr tags with 4951 profiles
  ft23-C903-18: 0 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-F676-18
  SMRU ft23-F676-18, PTT    65499: use smru locations for fr data
  ft23-F676-18: hr tags with 4936 profiles
  ft23-F676-18: 0 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-F781-18
  SMRU ft23-F781-18, PTT    65501: use smru locations for fr data
  ft23-F781-18: hr tags with 4368 profiles
  ft23-F781-18: 0 profiles and 0 Sprofiles removed
Process hr smru_name=ft23-F905-18
  SMRU ft23-F905-18, PTT    65502: use smru locations for fr data
  ft23-F905-18: hr tags with 3740 profiles
Tag ft23-F905-18 fr0 removed
  ft23-F905-18: 0 profiles and 0 Sprofiles removed

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [ ]:
meop_process.generate_calibration_plots(smru_name=smru_name)

## Process one tag

In [29]:
smru_name='ct107-933-13'
meop_process.process_tags(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process smru_name=ct107-933-13
	24 tags
	4902 profiles
  ct107-933-13: 0 profiles and 0 Sprofiles removed
SMRU ct107-933-13, PTT   133774: use crawl locations

create_fr0(conf,EXP,one_smru_name);
Process hr smru_name=ct107-933-13
  SMRU ct107-933-13, PTT   133774: use crawl locations for fr data
  Date issue in ct107-933-13 hr data, 12933 instr_id: 1 profiles removed
  ct107-933-13: hr tags with 475 profiles
  ct107-933-13: 0 profiles and 0 Sprofiles removed

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [30]:
meop_process.generate_calibration_plots(smru_name=smru_name)

conf = init_mirounga;
config name: jupyter_froqu_pc207_linux

generate_plot1(conf,EXP,one_smru_name);
calibration plots: ct107-933-13

True

In [18]:
meop_process.stop_matlab()