# Set of tools and function to use Matlab MEOP scripts within python

In [1]:
import meop_process
from pathlib import Path
import sys
import os
import shutil
import numpy as np
import pandas as pd
import xarray as xr
from shutil import copyfile
import zipfile
import meop_filenames
from importlib import reload
import os
_ = os.umask(int('002', 8))

Load config jupyter_froqu_pc207_linux in configs.json

# Code to execute in a terminal

1. process a deployment:
>python meop_process.py --deployment ct107 --do_all
2. process a tag
>python meop_process.py --smru_name ct107-933-13 --do_all
3. help menu
>python meop_process.py -h

# Code to process data

## Initialize matlab

In [2]:
meop_process.start_matlab()

matlab started
cd /home/jupyter-froqu/MEOP_process;

PWD: /media/disk2/roquet/MEOP_process

In [3]:
meop_process.run_command('cd /media/disk2/roquet/MEOP_process')
meop_process.run_command('disp(config_id);');

cd /media/disk2/roquet/MEOP_process

disp(config_id);
jupyter_froqu_pc207_linux

In [4]:
conf = meop_process.init_mirounga()

conf = init_mirounga;

In [6]:
conf = meop_process.update_config_files(conf)

conf = init_mirounga;

## Import list of deployments

In [7]:
import meop_metadata
meop_metadata.read_list_deployment()

,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION,START_DATE,END_DATE,START_DATE_JUL
DEPLOYMENT_CODE,,,,,,,,,
wd04,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2016-07-12,MEOP-CTD_2020-01-02,03/26/0011,10/08/0011,4103.0
awru1,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,02/12/0007,10/03/0007,2600.0
ct149,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02,12/20/0018,NaT,6929.0
ct2,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,01/20/0004,08/01/0004,1481.0
ct36,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02,12/26/0008,03/01/0009,3283.0
...,...,...,...,...,...,...,...,...,...
ft33,HINDELL,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
ft34,HINDELL,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
wd27,IMOS,1,0,AUSTRALIA,NaN,NaN,NaT,NaT,NaN
wd28,KOPRI,1,0,KOREA,NaN,NaN,NaT,NaT,NaN
ct175,XTOPHE,1,0,FRANCE,NaN,NaN,NaT,NaT,NaN

In [8]:
meop_metadata.read_list_deployment_hr()

    smru_platform_code instr_id  year        period  continuous prefix
0           ct96-02-13    12554  2013         moult           0    NaN
1           ct96-03-13    12555  2013         moult           0    NaN
2           ct96-09-13    12564  2013         moult           0    NaN
3           ct96-10-13    12565  2013         moult           0    NaN
4           ct96-16-13    12569  2013         moult           0    NaN
..                 ...      ...   ...           ...         ...    ...
195   ct159-052-BAT-19    15052  2020  reproduction           1    NaN
196   ct158-309-BAT-15    13309  2020         moult           1    NaN
197   ct158-310-BAT-15    13310  2020         moult           1    NaN
198       ct158-198-19    15198  2020         moult           1    NaN
199       ct158-199-19    15199  2020         moult           1    NaN

[200 rows x 6 columns]

## Process one tag

In [11]:
deployment = 'tu117'
meop_process.import_raw_data(deployment=deployment)

tu117_FL_ODV.txt
tu117_ODV.txt
deployment_code = 'tu117';

fusion_profilTS_profilFL(deployment_code,conf.rawdir);

In [17]:
meop_process.process_tags(deployment=deployment)

Process deployment :tu117

conf = init_mirounga;
remove_deployment(conf,EXP,one_smru_name);

create_ncargo(conf,EXP,one_smru_name);
Process EXP=tu117
	24 tags
	4558 profiles
  tu117-611-22: 0 profiles and 11 Sprofiles removed
  tu117-612-22: 0 profiles and 2 Sprofiles removed
  tu117-614-22: 0 profiles and 6 Sprofiles removed
  tu117-616-22: 0 profiles and 8 Sprofiles removed
Tag tu117-617-22 lr0 removed
  tu117-664-22: 0 profiles and 14 Sprofiles removed
  tu117-670-22: 0 profiles and 19 Sprofiles removed
  tu117-671-22: 0 profiles and 7 Sprofiles removed
  tu117-672-22: 0 profiles and 11 Sprofiles removed
  tu117-673-22: 0 profiles and 11 Sprofiles removed
  tu117-674-22: 0 profiles and 2 Sprofiles removed
  tu117-675-22: 0 profiles and 0 Sprofiles removed
  tu117-676-22: 0 profiles and 2 Sprofiles removed
  tu117-677-22: 0 profiles and 5 Sprofiles removed
  tu117-678-22: 0 profiles and 3 Sprofiles removed
  tu117-679-22: 0 profiles and 24 Sprofiles removed
  tu117-681-22: 0 profiles and 14 Sprofiles removed
  tu117-684-22: 0 profiles and 2 Sprofiles removed
  tu117-685-22: 0 profiles and 9 Sprofiles removed
  tu117-686-22: 0 profiles and 6 Sprofiles removed
  tu117-687-22: 0 profiles and 8 Sprofiles removed
  tu117-688-22: 1 profiles and 6 Sprofiles removed
  tu117-689-22: 0 profiles and 3 Sprofiles removed
  tu117-751-22: 0 profiles and 4 Sprofiles removed

create_fr0(conf,EXP,one_smru_name);

create_fr0_without_lr0(conf,EXP,one_smru_name);

update_metadata(conf,EXP,one_smru_name);

apply_adjustments(conf,EXP,one_smru_name);

apply_tlc(conf,EXP,one_smru_name);

apply_tlc_fr(conf,EXP,one_smru_name);

True

In [18]:
meop_process.generate_doc_latex(deployment=deployment)

conf = init_mirounga;
generate_plot2(conf,EXP,one_smru_name);
plot diag tu117: lr0, raw
plot diag tu117: lr1, adj
plot diag tu117: hr1, adj

True

In [ ]:
meop_process.generate_calibration_plots(deployment=deployment)

conf = init_mirounga;
generate_plot1(conf,EXP,one_smru_name);

In [ ]:
meop_process.create_hr2(deployment=deployment)