# Publish data

In [1]:
from pathlib import Path
import numpy as np
import pandas as pd
import xarray as xr
import matplotlib.pyplot as plt
import netCDF4 as nc

import meop
import meop_publish
import meop_filenames
import meop_metadata
import meop_plot_data
from importlib import reload

In [2]:
reload(meop)
reload(meop_metadata)
reload(meop_filenames)
reload(meop_publish)

In [3]:
publicdir_CTD = meop_filenames.publicdir /meop_filenames.version
publicdir_CTD

PosixPath('/home/jupyter-froqu/MEOP_process/public/MEOP-CTD_2021-10-26')

In [71]:
# first create public folder
reload(meop_publish)
reload(meop)
meop_publish.publish_meop_ctd(publicdir_CTD, copydata=False, genplots=False, genmaps=False, compress=False, verbose=True)

Warning: the public directory where to store public data /home/jupyter-froqu/MEOP_process/public/MEOP-CTD_2021-10-26 is not empty. Risk of data corruption.

In [4]:
lprofiles, ltags, ldeployments = meop_publish.load_list_profiles(publicdir_CTD, public=True, rebuild=True)

In [134]:
lprofiles, ltags, ldeployments = meop_publish.load_list_profiles(publicdir_CTD, public=False, rebuild=False)

In [137]:
ltags

,SMRU_PLATFORM_CODE,DEPLOYMENT_CODE,JULD,LATITUDE,LONGITUDE,MASK,N_PROF_TEMP,N_PROF_PSAL,N_PROF_CHLA,PUBLIC,...,S2,remove,Sremove,comments,variable_offset,instr_id,year,period,continuous,prefix
0,awru1-A-06,awru1,2007-03-03 03:24:00,-68.5139,78.3736,Southern Ocean,893,0,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1,awru1-B-06,awru1,2007-03-04 19:40:00,-68.4296,78.4134,Southern Ocean,1583,0,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
2,awru1-C-06,awru1,2007-03-02 18:14:00,-68.4895,78.3249,Southern Ocean,1031,0,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
3,bs1-53127-04,bs1,2004-10-10 08:00:00,-53.7486,-38.2747,Southern Ocean,36,0,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
4,bs1-53128-04,bs1,2004-10-11 18:19:00,-54.2359,-39.0737,Southern Ocean,30,0,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551,wd10-677-17,wd10,2017-11-09 09:00:00,-66.6282,140.1119,Southern Ocean,0,0,0,1,...,0.00,1,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1552,wd10-678-17,wd10,2017-11-28 11:00:00,-66.5959,140.0797,Southern Ocean,18,17,0,1,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1553,wd10-679-17,wd10,2017-11-09 09:19:59,-66.6216,140.1138,Southern Ocean,115,115,0,1,...,0.01,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1554,wd10-680-17,wd10,2017-11-21 23:20:00,-66.6177,140.0906,Southern Ocean,0,0,0,1,...,0.00,1,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1555,wd10-681-17,wd10,2017-11-21 15:10:00,-66.6219,140.1069,Southern Ocean,129,126,0,1,...,-0.02,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN

In [123]:
ltags, ldeployments = meop_metadata.list_tags_deployments_from_profiles(lprofiles)
ltags.to_csv(publicdir_CTD / 'list_tags.csv',index=False)
ldeployments.to_csv(publicdir_CTD / 'list_deployments.csv',index=False)

In [124]:
ltags

,SMRU_PLATFORM_CODE,DEPLOYMENT_CODE,JULD,LATITUDE,LONGITUDE,MASK,COUNTRY,N_PROF_TEMP,N_PROF_PSAL,N_PROF_CHLA,...,S2,remove,Sremove,comments,variable_offset,instr_id,year,period,continuous,prefix
0,awru1-A-06,awru1,2007-03-03 03:24:00,-68.5139,78.3736,Southern Ocean,AUSTRALIA,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1,awru1-B-06,awru1,2007-03-04 19:40:00,-68.4296,78.4134,Southern Ocean,AUSTRALIA,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
2,awru1-C-06,awru1,2007-03-02 18:14:00,-68.4895,78.3249,Southern Ocean,AUSTRALIA,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
3,bs1-53127-04,bs1,2004-10-10 08:00:00,-53.7486,-38.2747,Southern Ocean,UK,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
4,bs1-53128-04,bs1,2004-10-11 18:19:00,-54.2359,-39.0737,Southern Ocean,UK,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1551,wd10-677-17,wd10,2017-11-09 09:00:00,-66.6282,140.1119,Southern Ocean,FRANCE,0,0,0,...,0.00,1,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1552,wd10-678-17,wd10,2017-11-28 11:00:00,-66.5959,140.0797,Southern Ocean,FRANCE,0,0,0,...,0.00,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1553,wd10-679-17,wd10,2017-11-09 09:19:59,-66.6216,140.1138,Southern Ocean,FRANCE,0,0,0,...,0.01,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1554,wd10-680-17,wd10,2017-11-21 23:20:00,-66.6177,140.0906,Southern Ocean,FRANCE,0,0,0,...,0.00,1,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN
1555,wd10-681-17,wd10,2017-11-21 15:10:00,-66.6219,140.1069,Southern Ocean,FRANCE,0,0,0,...,-0.02,0,0,no comment,NaN,NaN,NaN,NaN,NaN,NaN

In [120]:
lprofiles['N_CHLA'] = lprofiles.N_CHLA.where(lprofiles.N_CHLA!=0,np.nan)
lprofiles.N_TEMP.count()

,DEPLOYMENT_CODE,SMRU_PLATFORM_CODE,CYCLE_NUMBER,JULD,LATITUDE,LONGITUDE,N_TEMP,N_PSAL,N_CHLA,year,month,day,MASK,COUNTRY
0,ct137,ct137-231BAT-14,1,2017-06-16 23:49:59,37.1272,-122.8470,16.0,16.0,NaN,2017,6,16,North Pacific,USA
1,ct137,ct137-231BAT-14,2,2017-06-17 03:30:00,37.2094,-123.0612,16.0,16.0,NaN,2017,6,17,North Pacific,USA
2,ct137,ct137-231BAT-14,3,2017-06-17 09:39:59,37.3491,-123.4183,16.0,16.0,NaN,2017,6,17,North Pacific,USA
3,ct137,ct137-231BAT-14,4,2017-06-17 14:09:59,37.4529,-123.6744,16.0,16.0,NaN,2017,6,17,North Pacific,USA
4,ct137,ct137-231BAT-14,5,2017-06-17 19:10:00,37.5709,-123.9522,8.0,8.0,NaN,2017,6,17,North Pacific,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631116,ct133,ct133-160-15,168,2017-04-04 13:30:00,-65.5055,73.3342,16.0,16.0,NaN,2017,4,4,Southern Ocean,CHINA
631117,ct133,ct133-160-15,169,2017-04-05 02:29:59,-65.0232,73.2928,16.0,16.0,NaN,2017,4,5,Southern Ocean,CHINA
631118,ct133,ct133-160-15,170,2017-04-05 08:29:59,-64.7945,73.2997,16.0,16.0,NaN,2017,4,5,Southern Ocean,CHINA
631119,ct133,ct133-160-15,171,2017-04-05 15:10:00,-64.5476,73.3455,NaN,NaN,NaN,2017,4,5,Southern Ocean,CHINA
631120,ct133,ct133-160-15,172,2017-04-06 04:30:00,-64.0871,73.5706,NaN,NaN,NaN,2017,4,6,Southern Ocean,CHINA

In [98]:
for country in list(ldeployments.COUNTRY.unique()):

['AUSTRALIA',
 'UK',
 'NORWAY',
 'USA',
 'GERMANY',
 'CHINA',
 'FRANCE',
 'CANADA',
 'BRAZIL',
 'SOUTH-AFRICA',
 'SWEDEN']

In [74]:
ncfile = Path.home() / 'MEOP_process/public/MEOP-CTD_2021-10-26/AUSTRALIA/DATA/awru1-A-06_all_prof.nc'

In [75]:
ds = meop.open_dataset(ncfile)

In [79]:
ds.version_database

'MEOP-CTD_2020-04-01'

In [90]:
with nc.Dataset(ncfile,'a') as fid:
    fid.version_database = 'MEOP-CTD_2020-04-01'

with nc.Dataset(ncfile) as fid:
    name = fid.version_database

name

'MEOP-CTD_2020-04-01'

In [91]:
name_list_deployment = Path.home() / 'MEOP_process/public/MEOP-CTD_2021-10-26/list_deployments.csv'
ldeployments = pd.read_csv(name_list_deployment)
ldeployments

,DEPLOYMENT_CODE,JULD,LATITUDE,LONGITUDE,N_PROF_TEMP,N_PROF_PSAL,N_PROF_CHLA,N_TAGS,PI_CODE,PROCESS,PUBLIC,COUNTRY,FIRST_VERSION,LAST_VERSION
0,awru1,2007-03-02 18:14:00,-68.477667,78.370633,3507,0,3520,3,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02
1,bs1,2004-10-10 08:00:00,-53.927425,-38.277025,114,0,168,4,STANILAN,1,1,UK,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
2,bs2,2006-10-29 06:14:59,-54.176733,-38.197667,309,0,314,3,STANILAN,1,1,UK,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
3,bv3,2015-01-30 13:19:59,-54.419738,3.173463,2908,2907,2908,8,NPOLAR,1,1,NORWAY,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
4,ct1,2004-02-03 05:25:00,-53.985767,-36.543717,1620,1232,3592,6,FEDAK,1,1,UK,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,wd06,2014-01-21 23:20:00,-74.227937,-26.811712,1958,1887,1962,8,AWI,1,1,GERMANY,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
186,wd07,2016-01-23 23:20:00,-72.825200,-19.157100,324,321,325,1,AWI,1,1,GERMANY,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
187,wd09,2017-02-18 05:49:59,-75.845867,-33.826267,531,496,533,3,CNRSPEPS,1,1,FRANCE,MEOP-CTD_2017-11-11,MEOP-CTD_2020-01-02
188,wd1,2006-02-15 11:21:59,-68.482883,78.440317,5599,0,6277,6,HINDELL,1,1,AUSTRALIA,MEOP-CTD_2015-05-31,MEOP-CTD_2020-01-02
189,wd10,2017-11-09 09:00:00,-66.617060,140.100580,262,258,366,5,CNRSPEPS,1,1,FRANCE,MEOP-CTD_2020-01-02,MEOP-CTD_2020-01-02

In [ ]:
# copy dimensions if not already existing
        for i, name in enumerate(var_dims_out):
            if name not in dst.dimensions:
                dst.createDimension( name, src.dimensions[var_dims_in[i]].size )
            if src.dimensions[var_dims_in[i]].size - dst.dimensions[var_dims_out[i]].size != 0:
                print(f"Dimension {name} has wrong size in {nc_out}")
                return 0